.sidenavData {
    display: flex;
    flex-direction: row;
    /* height: 64px !important;  */
}

.title {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    opacity: 80%;
}

.subtitle {
    /* font-family: 'Open Sans'; */
    font-weight: 400;
    /* font-size: 12px; */
    color: #5F6368;
    font: normal normal normal 12px/18px Open Sans;
}

.navBarTitle {
    font: normal normal normal 11px/14px Open Sans;
    letter-spacing: 0px;
    color: #616161;
}

.activeSideNav {
    border-left: 3px solid #FD9933;
    background-color: #fff;

}

.inActiveSideNavSub {
    font-family: 'Open Sans';
    font-size: 14px;
    height: 30px;
    margin-left: .5rem;

}

.activeSideNavSub {
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: bold;
    /* height: 30px; */
    padding: .5%;
    margin-left: .5rem;
    background: #E8F0FD 0% 0% no-repeat padding-box;
    border-radius: 15px 0px 0px 15px;
}

.cycleDate{
    font: normal normal normal 14px/18px Open Sans;
    letter-spacing: 0px;
color: #5F6368;
}
.companyName{
    font: normal normal medium 16px/20px open Sans;
letter-spacing: 0px;
color: #3C4043;
opacity: 1;
}

.appBarLogoDetails{
font: normal normal normal 10px/18px Open Sans;
letter-spacing: 0.01px;
color: #5F6368;
opacity: 1;
}